<p id="notice"><%= notice %></p>

<div class="main">
    <%= image_tag("https://images.pexels.com/photos/3047316/pexels-photo-3047316.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260", alt: "", class: "article-img") %>
    <h2 class="h2-article"><%= @blog.title%></h2>
    <p class="article-date"><%= @blog.created_at.strftime("%d/%m/%Y")%></p>
    <hr>
    <p class="article-description"><%= @blog.description%></p>
</div>
