<p id="notice"><%= notice %></p>

<div class="main">
    <div class="show-article-1">
        <%= image_tag(@blog.cover, alt: "", class: "show-article-cover") %>
        <h2 class="show-article-h2"><%= @blog.title %></h2>
        <p class="show-article-date"><%= @blog.created_at.strftime("%d/%m/%Y")%></p>
        <hr>
        <p class="show-article-text"><%= @blog.description%></p>
    </div>
</div>
