<div class="section show-blog-section-1">
    <%= image_tag(@blog.cover, alt: "blog-image") %>
    <div class="show-blog-infos-ctn">
        <p class="show-blog-date"><%= @blog.created_at.strftime("%d/%m/%Y")%></p>
        <div class="show-blog-tags-ctn">
        <% @blog.tags.take(5).each do |tag| %>
            <p class="tag"><%= tag.title %></p>
        <% end %>
        </div>
    </div>
    <h2><%= @blog.title %></h2> 
    <hr>
    <p class="show-article-text"><%= @blog.description%></p>
</div>
