<div class="index-artist-section-1">
  <h1>Découvrir nos <span class="span-orange">artiste</span></h1>
  <div class="crsl-ctn">
    <div class="crsl-all-img-ctn">
        <div class="crsl-img-ctn">
          <%= image_tag("img.png", alt: "art-zeppelin-index-artist-artwork", class: "crsl-img") %>
        </div>
        <div class="crsl-img-ctn">
          <%= image_tag("img.png", alt: "art-zeppelin-index-artist-artwork", class: "crsl-img") %>
        </div>
        <div class="crsl-img-ctn">
          <%= image_tag("img.png", alt: "art-zeppelin-index-artist-artwork", class: "crsl-img") %>
        </div>
        <div class="crsl-img-ctn">
          <%= image_tag("img.png", alt: "art-zeppelin-index-artist-artwork", class: "crsl-img") %>
        </div>
    </div>

    <div class="crsl-controls">
        <svg class="crsl-prev" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="36" height="35" viewBox="0 0 36 35">
            <defs>
            <clipPath id="clip-Index_8">
                <rect width="36" height="35"/>
            </clipPath>
            </defs>
            <g id="Index_8" data-name="Index – 8" clip-path="url(#clip-Index_8)">
            <rect width="36" height="35" fill="#fff"/>
            <g id="Groupe_614" data-name="Groupe 614" transform="translate(-5817.75 -6010)">
                <rect id="Rectangle_228" data-name="Rectangle 228" width="36" height="35" transform="translate(5817.75 6010)" fill="#fa4616"/>
                <path id="Tracé_1157" data-name="Tracé 1157" d="M0,0,8.86,8.86,0,17.72" transform="translate(5839.361 6036.632) rotate(180)" fill="none" stroke="#fff" stroke-width="3"/>
            </g>
            </g>
        </svg>
        
        <svg class="crsl-next" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="36" height="35" viewBox="0 0 36 35">
            <defs>
            <clipPath id="clip-Index_9">
                <rect width="36" height="35"/>
            </clipPath>
            </defs>
            <g id="Index_9" data-name="Index – 9" clip-path="url(#clip-Index_9)">
            <rect width="36" height="35" fill="#fff"/>
            <g id="Groupe_614" data-name="Groupe 614" transform="translate(-5817.75 -6010)">
                <rect id="Rectangle_228" data-name="Rectangle 228" width="36" height="35" transform="translate(5817.75 6010)" fill="#fa4616"/>
                <path id="Tracé_1157" data-name="Tracé 1157" d="M0,0,8.86,8.86,0,17.72" transform="translate(5832.5 6018.912)" fill="none" stroke="#fff" stroke-width="3"/>
            </g>
            </g>
        </svg>
    </div>
  </div>
  <%= image_tag("img-artist.png", alt: "art-zeppelin-index-artist-artwork-illustration", class: "index-artist-illu")%>
</div>

<div class="section index-artist-section-2">
  <div class="index-artist-section-2-filters-ctn">
    <div class="index-artist-section-2-filters-btn-ctn">
      <a href="#" class="filter-btn">Tableau</a>
      <a href="#" class="filter-btn">Fresque</a>
      <a href="#" class="filter-btn">Sculpture</a>
      <a href="#" class="filter-btn">Performance</a>
    </div>
    <form class="form-inline input-text-btn-ctn">
      <div class="form-group text">
        <input class="form-control" placeholder="Nom, medium..." type="text" name="client[email]" id="client_email">
      </div>
      <div>
        <input type="submit" name="commit" value="Rechercher" class="btn btn-primary" data-disable-with="Envoyer">
      </div>
    </form>
  </div>
</div>

<div class="section index-artist-section-3">
    <% @artists.each do |artist| %>
      <%= link_to artist_path(artist.id), :class => 'index-artist-ctn' do%>
        <%= image_tag("img.png", alt: "art-zeppelin-index-artist-portrait", class: "")%>
        <div class="index-artist-text-ctn">
          <div>
            <h3 class="index-artist-name"><%= artist.first_name + " " + artist.last_name %></h3>
            <hr class="index-artist-hr">
            <p class="index-artist-description"><%= artist.description %></p>
          </div>
          <div class="index-artist-tag-ctn">
          <% artist.tags.each do |tag| %>
            <p class="index-artist-tag"><%= tag.title %></p>
          <% end %>
          </div>
        </div>
        <div class="index-artist-fill-ctn"></div>
      <% end %>
    <% end %>
</div>

<script class="carousel">
  const crslNextBtn = document.querySelector('.crsl-next');
  const crslPrevBtn = document.querySelector('.crsl-prev');
  const crslAllImgs = document.querySelector('.crsl-all-img-ctn');
  const crslImgs = document.querySelectorAll('.crsl-img');
  const crslImgsLength = document.querySelectorAll('.crsl-img').length;
  var nextCount = 0;

  crslImgs[nextCount+1].classList.add('crsl-img-active');

  function crslPrevImg() {
      nextCount -= 1;
      if (nextCount < -1) {
          nextCount = crslImgsLength - 2;
      }
      crslAllImgs.style.transform = `translateX(${nextCount*50*-1}vw)`;
      if (nextCount > -1) crslImgs[nextCount].classList.remove('crsl-img-active');
      crslImgs[nextCount+1].classList.add('crsl-img-active');
      if (nextCount < crslImgsLength - 1) crslImgs[nextCount + 2].classList.remove('crsl-img-active');
  }
  function crslNextImg() {
      nextCount += 1;
      if (nextCount > crslImgsLength - 2) {
          nextCount = -1;
      }

      crslAllImgs.style.transform = `translateX(${nextCount*50*-1}vw)`;
      if (nextCount > -1) crslImgs[nextCount].classList.remove('crsl-img-active');
      crslImgs[nextCount+1].classList.add('crsl-img-active');
      if (nextCount < crslImgsLength - 1) crslImgs[nextCount + 2].classList.remove('crsl-img-active');
  }
  crslPrevBtn.addEventListener('click', crslPrevImg);
  crslNextBtn.addEventListener('click', crslNextImg);
</script>