<div class="index-artist-section-1">
  <h1>Découvrir nos <span class="span-orange">artiste</span></h1>
  <div class="crsl-ctn">
    <div class="crsl-all-img-ctn">
      <div class="crsl-img-ctn">
        <%= image_tag("img.png", alt: "art-zeppelin-index-artist-artwork", class: "crsl-img") %>
      </div>
      <div class="crsl-img-ctn">
        <%= image_tag("img.png", alt: "art-zeppelin-index-artist-artwork", class: "crsl-img") %>
      </div>
      <div class="crsl-img-ctn">
        <%= image_tag("img.png", alt: "art-zeppelin-index-artist-artwork", class: "crsl-img") %>
      </div>
      <div class="crsl-img-ctn">
        <%= image_tag("img.png", alt: "art-zeppelin-index-artist-artwork", class: "crsl-img") %>
      </div>
    </div>
    <div class="crsl-controls">
      <svg class="crsl-prev" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="36" height="35" viewBox="0 0 36 35">
        <defs>
          <clipPath id="clip-Index_8">
            <rect width="36" height="35"/>
          </clipPath>
        </defs>
        <g id="Index_8" data-name="Index – 8" clip-path="url(#clip-Index_8)">
          <rect width="36" height="35" fill="#fff"/>
          <g id="Groupe_614" data-name="Groupe 614" transform="translate(-5817.75 -6010)">
            <rect id="Rectangle_228" data-name="Rectangle 228" width="36" height="35" transform="translate(5817.75 6010)" fill="#fa4616"/>
            <path id="Tracé_1157" data-name="Tracé 1157" d="M0,0,8.86,8.86,0,17.72" transform="translate(5839.361 6036.632) rotate(180)" fill="none" stroke="#fff" stroke-width="3"/>
          </g>
        </g>
      </svg>
      <svg class="crsl-next" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="36" height="35" viewBox="0 0 36 35">
        <defs>
          <clipPath id="clip-Index_9">
            <rect width="36" height="35"/>
          </clipPath>
        </defs>
        <g id="Index_9" data-name="Index – 9" clip-path="url(#clip-Index_9)">
          <rect width="36" height="35" fill="#fff"/>
          <g id="Groupe_614" data-name="Groupe 614" transform="translate(-5817.75 -6010)">
            <rect id="Rectangle_228" data-name="Rectangle 228" width="36" height="35" transform="translate(5817.75 6010)" fill="#fa4616"/>
            <path id="Tracé_1157" data-name="Tracé 1157" d="M0,0,8.86,8.86,0,17.72" transform="translate(5832.5 6018.912)" fill="none" stroke="#fff" stroke-width="3"/>
          </g>
        </g>
      </svg>
    </div>
  </div>
  <%= image_tag("img-artist.png", alt: "art-zeppelin-index-artist-artwork-illustration", class: "index-artist-illu")%>
</div>
<div class="section index-artist-section-2">
  <div class="index-artist-section-2-filters-ctn">
    <div class="index-artist-section-2-filters-btn-ctn">
      <a href="#" class="filter-btn">Tableau</a>
      <a href="#" class="filter-btn">Fresque</a>
      <a href="#" class="filter-btn">Sculpture</a>
      <a href="#" class="filter-btn">Performance</a>
    </div>
    <%= render 'search' %>
  </div>
</div>
<div class="section index-artist-section-3" id="artists">
  <%= render @artists %>
</div>
<% if @artists.count > 5 %>
  <div class="card">
    <div class="card-body d-flex justify-content-center" id="paginate">
      <%= paginate @artists, remote: true %>
    </div>
  </div>
<% end %>
<script class="carousel">
  const crslNextBtn = document.querySelector('.crsl-next');
  const crslPrevBtn = document.querySelector('.crsl-prev');
  const crslAllImgs = document.querySelector('.crsl-all-img-ctn');
  const crslImgs = document.querySelectorAll('.crsl-img');
  const crslImgsLength = document.querySelectorAll('.crsl-img').length;
  var nextCount = 0;
  
  crslImgs[nextCount+1].classList.add('crsl-img-active');
  
  function crslPrevImg() {
      nextCount -= 1;
      if (nextCount < -1) {
          nextCount = crslImgsLength - 2;
      }
      crslAllImgs.style.transform = `translateX(${nextCount*50*-1}vw)`;
      if (nextCount > -1) crslImgs[nextCount].classList.remove('crsl-img-active');
      crslImgs[nextCount+1].classList.add('crsl-img-active');
      if (nextCount < crslImgsLength - 1) crslImgs[nextCount + 2].classList.remove('crsl-img-active');
  }
  function crslNextImg() {
      nextCount += 1;
      if (nextCount > crslImgsLength - 2) {
          nextCount = -1;
      }
  
      crslAllImgs.style.transform = `translateX(${nextCount*50*-1}vw)`;
      if (nextCount > -1) crslImgs[nextCount].classList.remove('crsl-img-active');
      crslImgs[nextCount+1].classList.add('crsl-img-active');
      if (nextCount < crslImgsLength - 1) crslImgs[nextCount + 2].classList.remove('crsl-img-active');
  }
  crslPrevBtn.addEventListener('click', crslPrevImg);
  crslNextBtn.addEventListener('click', crslNextImg);
</script>
