<p id="notice"><%= notice %></p>
<div class="main">
    <div class="flex-center show-artist-1">
        <div class="col-ctn">
            <%= image_tag(@artist.avatar, alt: "artist-portrait", class: "one-third show-artist-portrait") %>
            <div class="two-third show-artist-text-ctn">
                <h2><%= @artist.first_name + " " + @artist.last_name %></h2>
                <hr>
                <% @artist.tags.each do |tag| %>
                    <p class="tag">
                        <%= tag.title %>
                    </p>
                <% end %>
                <p><%= @artist.description %></p>
            </div>
        </div>
    </div>
    <div class="col-ctn show-artist-grid">
        <% @artist.artworks.each do |artwork| %>
            <% artwork.images.each do |artworkImage| %>
                <%= image_tag(artworkImage, alt: "", class: "one-half") %>
            <% end %>
        <% end %>
    </div>
</div>