<div class="index-artwork-section-1">
  <h1>Toutes nos <span class="span-orange">réalisations</span></h1>
  <div class="crsl-ctn">
    <div class="crsl-all-img-ctn">
        <div class="crsl-img-ctn">
          <%= image_tag("img.png", alt: "art-zeppelin-index-artist-artwork", class: "crsl-img") %>
        </div>
        <div class="crsl-img-ctn">
          <%= image_tag("img.png", alt: "art-zeppelin-index-artist-artwork", class: "crsl-img") %>
        </div>
        <div class="crsl-img-ctn">
          <%= image_tag("img.png", alt: "art-zeppelin-index-artist-artwork", class: "crsl-img") %>
        </div>
        <div class="crsl-img-ctn">
          <%= image_tag("img.png", alt: "art-zeppelin-index-artist-artwork", class: "crsl-img") %>
        </div>
    </div>

    <div class="crsl-controls">
        <svg class="crsl-prev" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="36" height="35" viewBox="0 0 36 35">
            <defs>
            <clipPath id="clip-Index_8">
                <rect width="36" height="35"/>
            </clipPath>
            </defs>
            <g id="Index_8" data-name="Index – 8" clip-path="url(#clip-Index_8)">
            <rect width="36" height="35" fill="#fff"/>
            <g id="Groupe_614" data-name="Groupe 614" transform="translate(-5817.75 -6010)">
                <rect id="Rectangle_228" data-name="Rectangle 228" width="36" height="35" transform="translate(5817.75 6010)" fill="#fa4616"/>
                <path id="Tracé_1157" data-name="Tracé 1157" d="M0,0,8.86,8.86,0,17.72" transform="translate(5839.361 6036.632) rotate(180)" fill="none" stroke="#fff" stroke-width="3"/>
            </g>
            </g>
        </svg>
        
        <svg class="crsl-next" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="36" height="35" viewBox="0 0 36 35">
            <defs>
            <clipPath id="clip-Index_9">
                <rect width="36" height="35"/>
            </clipPath>
            </defs>
            <g id="Index_9" data-name="Index – 9" clip-path="url(#clip-Index_9)">
            <rect width="36" height="35" fill="#fff"/>
            <g id="Groupe_614" data-name="Groupe 614" transform="translate(-5817.75 -6010)">
                <rect id="Rectangle_228" data-name="Rectangle 228" width="36" height="35" transform="translate(5817.75 6010)" fill="#fa4616"/>
                <path id="Tracé_1157" data-name="Tracé 1157" d="M0,0,8.86,8.86,0,17.72" transform="translate(5832.5 6018.912)" fill="none" stroke="#fff" stroke-width="3"/>
            </g>
            </g>
        </svg>
    </div>
  </div>
  <%= image_tag("img-artworks.png", alt: "art-zeppelin-index-artist-artwork-illustration")%>
</div>

<div class="section index-artwork-section-2">
  <div class="index-artwork-section-2-filters-ctn">
    <div class="index-artwork-section-2-filters-btn-ctn">
      <a href="#" class="filter-btn">Tableau</a>
      <a href="#" class="filter-btn">Fresque</a>
      <a href="#" class="filter-btn">Sculpture</a>
      <a href="#" class="filter-btn">Performance</a>
    </div>
    <form class="form-inline input-text-btn-ctn">
      <div class="form-group text">
        <input class="form-control" placeholder="Nom, medium..." type="text" name="client[email]" id="client_email">
      </div>
      <div>
        <input type="submit" name="commit" value="Rechercher" class="btn btn-primary" data-disable-with="Envoyer">
      </div>
    </form>
  </div>
</div>

<div class="section index-artist-section-3">
  <% @artworks.last(20).each do |artwork| %>
    <% artwork.images.each do |artworkImage| %>
      <%= image_tag(artworkImage, alt: "", class: "index-artwork-img") %>
    <% end %>
  <% end %>
</div>

<div class="lightbox-ctn">
  <div class="crsl-ctn">
    <div class="crsl-all-img-ctn-2">
      <% @artworks.last(20).each do |artwork| %>
        <% artwork.images.each do |artworkImage| %>
          <div class="crsl-img-ctn">
            <div class="crsl-img-2">
              <%= image_tag(artworkImage, alt: "") %>
              <p><%= artwork.artist.first_name + " " + artwork.artist.last_name + " - " + artwork.title %></p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="crsl-controls">
      <svg class="crsl-prev-2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="36" height="35" viewBox="0 0 36 35">
          <defs>
          <clipPath id="clip-Index_8">
              <rect width="36" height="35"/>
          </clipPath>
          </defs>
          <g id="Index_8" data-name="Index – 8" clip-path="url(#clip-Index_8)">
          <rect width="36" height="35" fill="#fff"/>
          <g id="Groupe_614" data-name="Groupe 614" transform="translate(-5817.75 -6010)">
              <rect id="Rectangle_228" data-name="Rectangle 228" width="36" height="35" transform="translate(5817.75 6010)" fill="#fa4616"/>
              <path id="Tracé_1157" data-name="Tracé 1157" d="M0,0,8.86,8.86,0,17.72" transform="translate(5839.361 6036.632) rotate(180)" fill="none" stroke="#fff" stroke-width="3"/>
          </g>
          </g>
      </svg>
      
      <svg class="crsl-next-2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="36" height="35" viewBox="0 0 36 35">
          <defs>
          <clipPath id="clip-Index_9">
              <rect width="36" height="35"/>
          </clipPath>
          </defs>
          <g id="Index_9" data-name="Index – 9" clip-path="url(#clip-Index_9)">
          <rect width="36" height="35" fill="#fff"/>
          <g id="Groupe_614" data-name="Groupe 614" transform="translate(-5817.75 -6010)">
              <rect id="Rectangle_228" data-name="Rectangle 228" width="36" height="35" transform="translate(5817.75 6010)" fill="#fa4616"/>
              <path id="Tracé_1157" data-name="Tracé 1157" d="M0,0,8.86,8.86,0,17.72" transform="translate(5832.5 6018.912)" fill="none" stroke="#fff" stroke-width="3"/>
          </g>
          </g>
      </svg>
    </div>
  </div>
  <div class="lightbox-close"></div>
</div>

<script class="carousel">
  const crslNextBtn = document.querySelector('.crsl-next');
  const crslPrevBtn = document.querySelector('.crsl-prev');
  const crslAllImgs = document.querySelector('.crsl-all-img-ctn');
  const crslImgs = document.querySelectorAll('.crsl-img');
  const crslImgsLength = document.querySelectorAll('.crsl-img').length;
  var nextCount = 0;

  crslImgs[nextCount+1].classList.add('crsl-img-active');

  function crslPrevImg() {
      nextCount -= 1;
      if (nextCount < -1) {
          nextCount = crslImgsLength - 2;
      }
      crslAllImgs.style.transform = `translateX(${nextCount*50*-1}vw)`;
      if (nextCount > -1) crslImgs[nextCount].classList.remove('crsl-img-active');
      crslImgs[nextCount+1].classList.add('crsl-img-active');
      if (nextCount < crslImgsLength - 1) crslImgs[nextCount + 2].classList.remove('crsl-img-active');
  }
  function crslNextImg() {
      nextCount += 1;
      if (nextCount > crslImgsLength - 2) {
          nextCount = -1;
      }

      crslAllImgs.style.transform = `translateX(${nextCount*50*-1}vw)`;
      if (nextCount > -1) crslImgs[nextCount].classList.remove('crsl-img-active');
      crslImgs[nextCount+1].classList.add('crsl-img-active');
      if (nextCount < crslImgsLength - 1) crslImgs[nextCount + 2].classList.remove('crsl-img-active');
  }
  crslPrevBtn.addEventListener('click', crslPrevImg);
  crslNextBtn.addEventListener('click', crslNextImg);
</script>

<script class="carousel-2">
  const crslNextBtn2 = document.querySelector('.crsl-next-2');
  const crslPrevBtn2 = document.querySelector('.crsl-prev-2');
  const crslAllImgs2 = document.querySelector('.crsl-all-img-ctn-2');
  const crslImgs2 = document.querySelectorAll('.crsl-img-2');
  const crslImgsLength2 = document.querySelectorAll('.crsl-img-2').length;
  var nextCount2 = 0;

  crslImgs2[nextCount2+1].classList.add('crsl-img-active-2');

  function crslPrevImg() {
      nextCount2 -= 1;
      if (nextCount2 < -1) {
          nextCount2 = crslImgsLength2 - 2;
      }
      crslAllImgs2.style.transform = `translateX(${nextCount2*50*-1}vw)`;
      if (nextCount2 > -1) crslImgs2[nextCount2].classList.remove('crsl-img-active-2');
      crslImgs2[nextCount2+1].classList.add('crsl-img-active-2');
      if (nextCount < crslImgsLength2 - 1) crslImgs2[nextCount + 2].classList.remove('crsl-img-active-2');
  }
  function crslNextImg() {
      nextCount2 += 1;
      if (nextCount2 > crslImgsLength2 - 2) {
          nextCount2 = -1;
      }

      crslAllImgs2.style.transform = `translateX(${nextCount2*50*-1}vw)`;
      if (nextCount2 > -1) crslImgs2[nextCount2].classList.remove('crsl-img-active-2');
      crslImgs2[nextCount2+1].classList.add('crsl-img-active-2');
      if (nextCount2 < crslImgsLength2 - 1) crslImgs2[nextCount2 + 2].classList.remove('crsl-img-active-2');
  }
  crslPrevBtn2.addEventListener('click', crslPrevImg);
  crslNextBtn2.addEventListener('click', crslNextImg);

/* Open right image */
  const lightboxCtn = document.querySelector('.lightbox-ctn');
  const allIndexArtworks = document.querySelectorAll('.index-artwork-img');

  function openLightbox(index) {
    lightboxCtn.style.display = "flex";
    nextCount2 = index-1;
    crslAllImgs2.style.transform = `translateX(${nextCount2*50*-1}vw)`;
    crslImgs2[nextCount2+1].classList.add('crsl-img-active-2');
  }

for (let i = 0; i < allIndexArtworks.length; i++) {
  allIndexArtworks[i].addEventListener('click', function() {openLightbox(i)},false);
}

/* Close lightbox */
  const closeLightboxBtn = document.querySelector('.lightbox-close');

  lightboxCtn.addEventListener('click', function(e) {
    var ev = e || window.event;
    if(e.target !== this) return;
    lightboxCtn.style.display = "none";
  });

</script>