<div class="page-title-ctn contact-title-ctn">
  <%= image_tag("contact-title.jpg", alt: "", class: "page-title-img") %>
  <div class=" contact-title-1-2-ctn">
    <%= image_tag("logo-art-zeppelin.svg", alt: "", class: "contact-title-1") %>
    <div class="contact-title-2">
        <h4>Contact@artzeppelin.com</h4>
        <h4>+ 33 (0) 7 70 00 40 34</h4>
        <h4>382 B rue de Picquenard<br>78630 Orgeval</h4>
    </div>
  </div>
  <div class="contact-title-3">
      <%= image_tag("pictos/social/social-04.svg", alt: "", class: "contact-title-picto") %>
      <%= image_tag("pictos/social/social-05.svg", alt: "", class: "contact-title-picto") %>
      <%= image_tag("pictos/social/social-06.svg", alt: "", class: "contact-title-picto") %>
  </div>
</div>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#form">Formulaire de contact</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#faq">FAQ</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#news">Newsletter</a>
  </li>
</ul>
<div id="myTabContent" class="tab-content">
    <div class="tab-pane contact-tab-pane active fade show" id="form">
        <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
    </div>
    <div class="tab-pane contact-tab-pane fade" id="faq">
        <p class="contact-faq-question">1°Pourquoi rejoindre Art Zeppelin ?</p>
        <p class="contact-faq-answer">Nous rejoindre c’est la possibilité de réaliser des projets en lien avec votre démarche artistique, selon vos disponibilités.</p>

        <p class="contact-faq-question">2°Quels sont les pré-requis pour rejoindre Art Zeppelin ? </p>
        <p class="contact-faq-answer">Nous privilégions la maîtrise d’un savoir-faire, n’hésitez pas à nous faire parvenir votre book à l’addresse mail artistes@artzeppelin.com.</p>

        <p class="contact-faq-question">3°J’expose via une galerie, est-ce un problème ?</p>
        <p class="contact-faq-answer">Non, sauf si vous êtes lié par une clause d’exclusivité, ce qui n’est pas le cas chez nous.</p>

        <p class="contact-faq-question">4°Comment est estimé le prix d’un projet ?</p>
        <p class="contact-faq-answer">Le prix d’un projet varie en fonction de l’expérience de l’artiste, de l’ampleur du projet, des moyens et du temps requis à sa réalisation.</p>
        
        <p class="contact-faq-question">5°Comment se déroulent vos projets ?</p>
        <p class="contact-faq-answer">Nous sommes ravis de vous communiquer notre brochure par retour de mail.</p>

        <p class="contact-faq-question">6°Comment déduire la valeur des œuvres acquises de mon résultat imposable ? </p>
        <p class="contact-faq-answer">Nous vous invitons à consulter la page dédiée en cliquant ici.</p>

        <p class="contact-faq-question">7°Dans quel pays êtes vous présents ? </p>
        <p class="contact-faq-answer">Art Zeppelin réalise des projets en France Métropolitaine pour l’instant.</p>

        <p class="contact-faq-question">8°Comment contacter le service client ?</p>
        <p class="contact-faq-answer">Nous vous invitons à remplir le formulaire de contact ci dessous ou appeler les numéros indiqués.</p>
    </div>
    <div class="tab-pane contact-tab-pane fade" id="news">
        <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit.</p>
    </div>
</div>