<p id="notice"><%= notice %></p>
<h1 class="index-artist-h1">Nous avons des <span class="span-orange">opportunités </span> pour vous</h1>
<div class="section-100vh-top artist-index-section-1">
  <div class="crsl-ctn">
    <div class="crsl-all-img-ctn">
      <div class="crsl-img-ctn">
        <%= image_tag("for-panels-7.png", alt: "art-zeppelin-index-artist-artwork", class: "crsl-img") %>
      </div>
      <div class="crsl-img-ctn">
        <%= image_tag("for-panels-4.png", alt: "art-zeppelin-index-artist-artwork", class: "crsl-img") %>
      </div>
      <div class="crsl-img-ctn">
        <%= image_tag("for-panels-5.png", alt: "art-zeppelin-index-artist-artwork", class: "crsl-img") %>
      </div>
      <div class="crsl-img-ctn">
        <%= image_tag("for-panels-6.png", alt: "art-zeppelin-index-artist-artwork", class: "crsl-img") %>
      </div>
    </div>

    <div class="crsl-controls">
        <svg class="crsl-prev" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="36" height="35" viewBox="0 0 36 35">
            <defs>
              <clipPath id="clip-Index_8">
                <rect width="36" height="35"/>
              </clipPath>
            </defs>
            <g id="Index_8" data-name="Index – 8" clip-path="url(#clip-Index_8)">
              <rect width="36" height="35" fill="#fff"/>
              <g id="Groupe_614" data-name="Groupe 614" transform="translate(-5817.75 -6010)">
                <rect id="Rectangle_228" data-name="Rectangle 228" width="36" height="35" transform="translate(5817.75 6010)" fill="#fa4616"/>
                <path id="Tracé_1157" data-name="Tracé 1157" d="M0,0,8.86,8.86,0,17.72" transform="translate(5839.361 6036.632) rotate(180)" fill="none" stroke="#fff" stroke-width="3"/>
              </g>
            </g>
          </svg>
          
        <svg class="crsl-next" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="36" height="35" viewBox="0 0 36 35">
            <defs>
              <clipPath id="clip-Index_9">
                <rect width="36" height="35"/>
              </clipPath>
            </defs>
            <g id="Index_9" data-name="Index – 9" clip-path="url(#clip-Index_9)">
              <rect width="36" height="35" fill="#fff"/>
              <g id="Groupe_614" data-name="Groupe 614" transform="translate(-5817.75 -6010)">
                <rect id="Rectangle_228" data-name="Rectangle 228" width="36" height="35" transform="translate(5817.75 6010)" fill="#fa4616"/>
                <path id="Tracé_1157" data-name="Tracé 1157" d="M0,0,8.86,8.86,0,17.72" transform="translate(5832.5 6018.912)" fill="none" stroke="#fff" stroke-width="3"/>
              </g>
            </g>
          </svg>
      </div>
  </div>
  <%= image_tag("img-corporate.png", alt: "art-zeppelin-index-artist-artwork-illustration", class: "index-artist-illu")%>
</div>

<div class="main">
  <div class="col-ctn for-pictos-ctn">
      <div class="for-icons-ctn">
        <%= image_tag("icons/for-icon-1.png", alt: "art-zeppelin-index-artist-artwork-illustration", class: "for-icons")%>
        <h3>Nous vous proposons<br>un projet<h3>
      </div>
      <div class="for-icons-ctn">
        <%= image_tag("icons/for-icon-2.png", alt: "art-zeppelin-index-artist-artwork-illustration", class: "for-icons")%>
        <h3>Vous créez<br>une proposition<h3>
      </div>
      <div class="for-icons-ctn">
        <%= image_tag("icons/for-icon-3.png", alt: "art-zeppelin-index-artist-artwork-illustration", class: "for-icons")%>
        <h3>Validation<br>de la maquette<h3>
      </div>
      <div class="for-icons-ctn">
        <%= image_tag("icons/for-icon-4.png", alt: "art-zeppelin-index-artist-artwork-illustration", class: "for-icons")%>
        <h3>Vous réalisez<br>l’oeuvre<h3>
      </div>
  </div>

  <div class="for-operations-ctn">
    <h1 class="index-artist-h1">Nos modes <span class="span-orange">opératoires</span></h1>
    <div class="col-ctn">
      <%= image_tag("in-situ.jpg", alt: "for-in-situ", class: "for-operation-img for-operation-img-in-situ")%>
      <div class="for-operation-text-ctn for-operation-text-ctn-in-situ">
        <h2>In-<span class="span-orange">situ</span></h2>
        <p class="p-bold">Accueillir un artiste dans vos locaux c’est participer à son processus de création.</p>
        <p>Nos projets in situ apportent une expérience unique à vos employés de par la présence d’un artiste qui réalise l’oeuvre dans l’entreprise. Avoir la possibilité d’interagir avec un artiste qui travaille est une occasion de découvrir ce beau métier et la démarche artistique qui l’anime. Cette offre permet de prendre du recul sur votre organisation (méthodes de travail, processus internes, relation partenaires) pour repenser votre vision et redonner de l’élan à vos activités.</p>
      </div>
    </div>
    <hr>
    <div class="col-ctn">
      <div class="for-operation-text-ctn for-operation-text-ctn-en-atelier">
        <h2>En <span class="span-orange">atelier</span></h2>
        <p class="p-bold">L’artiste peut également produire l’œuvre d’art dans son atelier.</p>
        <p>Il peut arriver que les locaux d’entreprises ne conviennent pas pour un projet « In-Situ » en raison de la taille des locaux ou du bruit émis par la conception de l’œuvre d’art, comme la sculpture. Dans cette offre « En atelier », nous organisons une réception dans vos locaux avec l’artiste, à nos frais, afin qu’il explique et commente son travail auprès de vos collaborateurs. Cette rencontre avec l’artiste permet de comprendre le cheminement et la réflexion qu’il a suivi pour mener à l’œuvre accomplie.</p>
      </div>
      <%= image_tag("en-atelier.jpg", alt: "for-atelier", class: "for-operation-img for-operation-img-en-atelier")%>
    </div>
  </div>

  <div class="col-ctn flex-center for-btns-ctn">
    <%= link_to "Découvrez nos artistes", artists_path, class: "button"%>
    <%= link_to "Nos réalisations", artworks_path, class: "button"%>
    <%= link_to "Contactez-nous", contact_statics_path, class: "button"%>
  </div>
</div>


<script>
  const inSituTextCtn = document.querySelector('.for-operation-text-ctn-in-situ');
  const inSituImg = document.querySelector('.for-operation-img-in-situ');
  const atelierTextCtn = document.querySelector('.for-operation-text-ctn-en-atelier');
  const atelierImg = document.querySelector('.for-operation-img-en-atelier');

  inSituImg.style.height = `${inSituTextCtn.getBoundingClientRect().height}px`;
  atelierImg.style.height = `${atelierTextCtn.getBoundingClientRect().height}px`;
  
  window.addEventListener('resize', function() {inSituImg.style.height = `${inSituTextCtn.getBoundingClientRect().height}px`});
</script>