<div class="page-title-ctn">
    <%= image_tag("https://images.pexels.com/photos/3047316/pexels-photo-3047316.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260", alt: "", class: "page-title-img") %>
    <h1 class="h1-page-title">Pour les artistes</h1>
</div>

<div class="main">
    <div class="picto-main-ctn picto-forartists-ctn">
        <div class="picto-ctn main-cards-decoration">
            <%= image_tag("pictos/steps-picto-5.png", alt: "", class: "picto") %>
            <h3 class="h3-picto">Nous vous proposons un projet<br></h3>
        </div>
        <div class="picto-ctn main-cards-decoration">
            <%= image_tag("pictos/steps-picto-6.png", alt: "", class: "picto") %>
            <h3 class="h3-picto">Vous créez une proposition<br></h3>
        </div>
        <div class="picto-ctn main-cards-decoration">
            <%= image_tag("pictos/steps-picto-7.png", alt: "", class: "picto") %>
            <h3 class="h3-picto">Validation de la maquette</h3>
        </div>
        <div class="picto-ctn main-cards-decoration">
            <%= image_tag("pictos/steps-picto-8.png", alt: "", class: "picto") %>
            <h3 class="h3-picto">Vous réalisez l’oeuvre<br></h3>
        </div>
    </div>

    <div class="page-btn-ctn">
        <div class="btn-lg btn-primary mx-3">Détail des étapes</div>
    </div>

    <p class="p-index main-cards-decoration">
        <strong>Art Zeppelin est une structure commerciale qui vous accompagne dans la réalisation de projets d’art en entreprise, dans le respect de votre démarche artistique.</strong><br><br>

        Réaliser des projets avec nous, c’est la liberté de travailler selon vos disponibilités. Nous prenons en charge les aspects commerciaux, promotionnels et administratifs, et c’est vous qui êtes responsable de l’ouvrage.<br><br>

        <strong>Vous maîtrisez un savoir-faire?</strong><br>
        Nous recherchons des artistes partenaires, volontaires pour s’essayer à de nouveaux projets en entreprise. Monter à bord du Zeppelin c’est aussi se retrouver autour d’événements dédiées à l’art, dans un cadre d’échanges, d’expositions et de rencontres professionnelles.<br><br>

        Pour plus d’informations sur le fonctionnement interne (organisation des projets, rémunération…), les aspects légaux ou tout autre sujet, vous pouvez nous contacter <%= link_to "en cliquant ici", statics_contact_path, class: "for-artists-link" %>
    </p>

    <div class="for-cards-full-ctn">
        <h2 class="h2-for-cards">Nos modes opératoires</h2>
        <div class="for-cards-ctn">
            <div class="half-for-card main-cards-decoration">
                <h3 class="h3-for-card">In-situ</h3>
                <%= image_tag("in-situ.jpg", alt: "logo-art-zeppelin", class: "for-card-img") %>
                <h5 class="h5-for-card">Accueillir un artiste dans vos locaux c’est participer à son processus de création.</h5>
                <p class="p-for-card">Nos projets in situ apportent une expérience unique à vos employés de par la présence d’un artiste qui réalise l’oeuvre dans l’entreprise. Avoir la possibilité d’interagir avec un artiste qui travaille est une occasion de découvrir ce beau métier et la démarche artistique qui l’anime. Cette offre permet de prendre du recul sur votre organisation (méthodes de travail, processus internes, relation partenaires) pour repenser votre vision et redonner de l’élan à vos activités.</p>
            </div>
            <div class="half-for-card main-cards-decoration">
                <h3 class="h3-for-card">En atelier</h3>
                <%= image_tag("en-atelier.jpg", alt: "logo-art-zeppelin", class: "for-card-img") %>
                <h5 class="h5-for-card">L’artiste peut également produire l’œuvre d’art dans son atelier.</h5>
                <p class="p-for-card">Il peut arriver que les locaux d’entreprises ne conviennent pas pour un projet « In-Situ » en raison de la taille des locaux ou du bruit émis par la conception de l’œuvre d’art, comme la sculpture. Dans cette offre « En atelier », nous organisons une réception dans vos locaux avec l’artiste, à nos frais, afin qu’il explique et commente son travail auprès de vos collaborateurs. Cette rencontre avec l’artiste permet de comprendre le cheminement et la réflexion qu’il a suivi pour mener à l’œuvre accomplie.</p>
            </div>
        </div>
    </div>

    <div class="page-btn-ctn">
        <%= link_to(statics_forcompanies_path, class: "btn-lg btn-primary mx-3 for-btn") do %>
            <p>Nos réalisations</p>
        <% end %>
        <%= link_to(statics_forcompanies_path, class: "btn-lg btn-primary mx-3 for-btn") do %>
            <p>Nous contacter</p>
        <% end %>
    </div>
    
</div>