<div class="index-video-ctn">
  <%= video_tag "art-zeppelin-index-video.mp4", controls: false, autoplay: true, muted: true, loop: true, :class => "index-video"%>
  <h1>L'<span style="color:#fa4616;">Art</span> s'invite dans vos locaux</h1>
</div>
<div class="main">
  <h2 class="h2-index-intro">Les artistes aux savoir-faire variés conceptualisent des espaces inspirants propices au bien-être et aux échanges. Notre double expertise, artistique et commerciale, vous accompagne de la conception à la réalisation d’œuvres d'art qui reflètent votre vision, mission et identité.<br>
    <br>
    Nous choisissons avec un soin particulier nos artistes selon une approche prenant en compte à la fois expérience mais aussi style et technique.</h2>
  <div class="picto-main-ctn">
    <div class="picto-ctn main-cards-decoration">
      <%= image_tag "pictos/picto-index-1.png", :class => "picto"%>
      <h3 class="h3-picto">Inspirez vos équipes</h3>
      <p class="p-picto">Apporter un environnement de travail agréable, créatif et stimulant.<br>
        &nbsp;</p>
    </div>
    <div class="picto-ctn main-cards-decoration">
      <%= image_tag "pictos/picto-index-2.png", :class => "picto"%>
      <h3 class="h3-picto">Consolidez votre image</h3>
      <p class="p-picto">Développez une image haut-de-gamme auprès de vos clients, collaborateurs, partenaires…<br>
        &nbsp;</p>
    </div>
    <div class="picto-ctn main-cards-decoration">
      <%= image_tag "pictos/picto-index-3.png", :class => "picto"%>
      <h3 class="h3-picto">Avantages fiscaux</h3>
      <p class="p-picto">Déduisez la totalité de la valeur des œuvres acquises du résultat imposable de votre société :<br>
      </p>
      <%= link_to "Article 238 bis AB du CGI","https://artzeppelin.com/deductions-fiscales/", class: "picto-link" %>
    </div>
  </div>
  <p class="p-index main-cards-decoration">
    La présence de l’art au sein des entreprises se développe progressivement et séduit tous les secteurs, c’est un excellent moyen de transformer les espaces de façon innovante. Cultiver la notion de plaisir au travail est un moyen pertinent de créer un sentiment d’appartenance et de cohésion de groupe au sein de votre entreprise.<br>
    Nos experts accompagnent votre réflexion stratégique lors du choix de l’artiste-auteur pour mettre en valeur votre environnement professionnel. En effet, notre sélection d’artistes partenaires présente de multiples styles et techniques qui conviendront à l’image et aux valeurs de votre entreprise. La présence d’art contribue au maintien et au renforcement de vos relations commerciales. C’est dans un environnement accueillant et chaleureux que vos clients et partenaires se projettent, Art Zeppelin met à votre disposition l’ensemble de ses connaissances et compétences pour que cela soit chez vous, dans vos locaux.
  </p>
</div>
<div class="artistes-entreprises-ctn">
  <%= link_to(for_artists_statics_path, class: "for-artists") do %>
    <h3>Pour les Artistes</h3>
    <div class="ac-picto-ctn ac-a">
      <div class="ac-picto">
        <%= image_tag "pictos/pictos-ac/picto-ac-a2.png", :class => ""%>
        <%= image_tag "pictos/pictos-ac/picto-ac-a1.png", :class => ""%>
      </div>
    </div>
    <div class="ac-picto-ctn ac-b">
      <div class="ac-picto">
        <%= image_tag "pictos/pictos-ac/picto-ac-b1.png", :class => ""%>
        <%= image_tag "pictos/pictos-ac/picto-ac-b2.png", :class => ""%>
      </div>
    </div>
    <div class="ac-picto-ctn ac-c">
      <div class="ac-picto">
        <%= image_tag "pictos/pictos-ac/picto-ac-c2.png", :class => "ac-picto-pos-correction-1"%>
        <%= image_tag "pictos/pictos-ac/picto-ac-c1.png", :class => ""%>
      </div>
    </div>
    <div class="ac-picto-ctn ac-d">
      <div class="ac-picto">
        <%= image_tag "pictos/pictos-ac/picto-ac-d2.png", :class => ""%>
        <%= image_tag "pictos/pictos-ac/picto-ac-d1.png", :class => ""%>
      </div>
    </div>
  <% end %>
  <%= link_to(for_companies_statics_path, class: "for-companies") do %>
    <h3>Pour les Entreprises</h3>
    <div class="ac-picto-ctn ac-e">
      <div class="ac-picto">
        <%= image_tag "pictos/pictos-ac/picto-ac-e2.png", :class => ""%>
        <%= image_tag "pictos/pictos-ac/picto-ac-e1.png", :class => ""%>
      </div>
    </div>
    <div class="ac-picto-ctn ac-f">
      <div class="ac-picto">
        <%= image_tag "pictos/pictos-ac/picto-ac-f2.png", :class => ""%>
        <%= image_tag "pictos/pictos-ac/picto-ac-f1.png", :class => ""%>
      </div>
    </div>
    <div class="ac-picto-ctn ac-g">
      <div class="ac-picto">
        <%= image_tag "pictos/pictos-ac/picto-ac-g2.png", :class => ""%>
        <%= image_tag "pictos/pictos-ac/picto-ac-g1.png", :class => ""%>
      </div>
    </div>
    <div class="ac-picto-ctn ac-h">
      <div class="ac-picto">
        <%= image_tag "pictos/pictos-ac/picto-ac-h2.png", :class => "ac-picto-pos-correction-2"%>
        <%= image_tag "pictos/pictos-ac/picto-ac-h1.png", :class => ""%>
      </div>
    </div>
  <% end %>
</div>
<div class="main">
  <div class="team-main-ctn main-cards-decoration">
    <h2 class="h2-team">L'équipe</h2>
    <div class="team-cards-ctn">
      <div class="team-card">
        <%= image_tag "team/Mato.png", :class => "team"%>
        <h3 class="h3-team">Maxime Mato</h3>
        <p class="p-team">Directeur opération </p>
      </div>
      <div class="team-card">
        <%= image_tag "team/Stavo.jpg", :class => "team"%>
        <h3 class="h3-team">Auguste Strassmann</h3>
        <p class="p-team">Directeur commercial</p>
      </div>
      <div class="team-card">
        <%= image_tag "team/Gabriel.png", :class => "team"%>
        <h3 class="h3-team">Gabriel Guérin</h3>
        <p class="p-team">Directeur technique</p>
      </div>
      <div class="team-card">
        <%= image_tag "team/Raphael.png", :class => "team"%>
        <h3 class="h3-team">Raphaël Chillio</h3>
        <p class="p-team">Directeur communication</p>
      </div>
    </div>
  </div>
  <p class="index-outro main-cards-decoration">
    Nous partons du constat que l’art en entreprise est peu présent si ce n’est absent. Notre équipe a pour mission de fournir un support commercial et promotionnel aux artistes afin qu’ils puissent se focaliser pleinement sur leur processus créatif. Forte de 4 nationalités et de compétences complémentaires, Art Zeppelin une entreprise vivante et compétente pour vous conseiller dans vos choix artistiques. Nous avons la volonté partagée de contribuer à promouvoir le travail d’artiste en France et bientôt au-delà.
    <%= image_tag "logo-art-zeppelin.svg", :class => "index-outro-logo"%>
  </p>
</div>
